@import "rosetta";

@postProperWidth: @postGrossWidth - 2 * @postWingWidth;
@canvasGrossWidth: (@postGrossWidth + @postProperWidth + 2 * @postMarginX) * @numOfPostsX - @postMarginX + @postWingWidth + 2 * @canvasPadding;
@canvasGrossHeight: (@postHeight + @postMarginY) * @numOfPostsY / 2 - @postMarginY / 2 + @postHeight / 2 + 2 * @canvasPadding;

html, body {
  margin: 0;
  border: 0;
  background: #024d61;
}

.canvas {
  width: @canvasGrossWidth;
  height: @canvasGrossHeight;
  position: relative;
}

.post {
  position: absolute;
  width: @postGrossWidth;
  height: @postHeight;
  & > div {
    position: absolute;
    height: @postHeight;
    top: 0;
  }
  .left-arrow, .right-arrow {
    width: 0;
    height: 0;
    border-top: (@postHeight / 2) solid transparent;
    border-bottom: (@postHeight / 2) solid transparent;
  }
  .left-arrow {
    left: 0;
    border-right: @postWingWidth solid @postDefaultBackground;
    box-shadow: -15px 0px 15px -15px #000;
  }
  .post-proper {
    width: @postProperWidth;
    left: @postWingWidth;
    background: @postDefaultBackground;
    box-shadow: 0 15px 15px -15px #000, 0 -15px 15px -15px #000;
    line-height: 150%;
    overflow: hidden;
  }
  .right-arrow {
    right: 0;
    border-left: @postWingWidth solid @postDefaultBackground;
    box-shadow: 15px 0px 15px -15px #000;
  }
  &.empty {
    opacity: 0.5;
  }
}